body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game{
    border: 2px solid black;
    height: 400px;
    width: 400px;
    position: relative;
    padding: 0%;
    background-color: rgb(234, 226, 183);
}
#score{
    margin: 0%;
    position: absolute;
    border-radius: 0px 0px 2px 0px;
    height: 40px;
    width: 40px;
    top: 0%;
    left: 0%;
    background-color: #f77f00;
}
#ball{
    height: 5%;
    width: 5%;
    border-radius: 100%;
    background-color: rgb(214, 40, 40);
    position: absolute;
    left: 0%;
    top: 0%;
}
#racket{
    height: 5%;
    width: 20%;
    border-radius: 2px;
    background-color: #003049;
    position: absolute;
    bottom: 0px;
    left: 0%;
    animation-duration: 0.5ms;
}
#score{
    color: rgb(0, 48, 73);
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    align-self: center;
    
}
#scoreContainer{
    display: flex;
    align-self: center;
    flex-direction: column;
}
#speed{
    position: absolute;
    top:0%;
    right: 0%   ;
}
.gameover{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 0%;
    padding: 0%;
    background-color: rgb(128, 128, 128, 0.75);
}
#replay{
    height: 10%;
    width: 30%;
    border: hidden;
    color: #f77f00;
    background-color: #003049;
    position: absolute;
    top:45%;
}